.venv/
__pycache__/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

*.pyc
*.pyo
*.pyd
*.DS_Store

data/raw/*
data/interim/*
data/processed/*
data/external/*
!data/raw/.gitkeep
!data/interim/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep
!data/README.md

outputs/

reports/*.aux
reports/*.bbl
reports/*.bcf
reports/*.blg
reports/*.fdb_latexmk
reports/*.fls
reports/*.log
reports/*.out
reports/*.pdf
reports/*.run.xml
